/* -----------------------------------------------------------------------------
 *
 * Animations
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 *
 * Sun
 *
 * ----------------------------------------------------------------------------- */
@keyframes sun {
  0% {
    transform: scale( 0.95 ) rotate( 0deg );
  }

  100% {
    transform: scale( 0.95 ) rotate( 360deg );
  }
}


/* -----------------------------------------------------------------------------
 *
 * Moon
 *
 * ----------------------------------------------------------------------------- */
@keyframes moon {
  0% {
    transform: rotate( 0deg );
  }

  50% {
    transform: rotate( -15deg );
  }

  100% {
    transform: rotate( 0deg );
  }
}

/* -----------------------------------------------------------------------------
 *
 * Cloud
 *
 * ----------------------------------------------------------------------------- */
@keyframes cloud {
  0% {
    transform: translate( 30%, 0% );
    opacity: 0;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    transform: translate( -10%, 0% );
    opacity: 0;
  }
}

/* -----------------------------------------------------------------------------
 *
 * Fog
 *
 * ----------------------------------------------------------------------------- */
@keyframes fog {
  0% {
    transform: translate( 15%, 0% );
    opacity: 0;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    transform: translate( -15%, 0% );
    opacity: 0;
  }
}
