/* -----------------------------------------------------------------------------
 *
 * Icons
 *
 * ----------------------------------------------------------------------------- */
svg:not( :root ) {
  overflow: visible;
}

.weather__icon {
  overflow: visible;
  fill: var( --color-white );
}

/* Current */

/* .weather__current-icon .weather__icon > svg {
  width: 200px;
  height: auto;
} */

/* Forecast */

/* .weather__icon svg {
  width: var( --text-lg );
  height: auto;
} */

/* .weather__icon--small {
  transform: scale( 0.5 );
}

svg {
  width: 90px;
  height: 90px;
} */

/* .weather__icon--large svg {
  width: var( --text-lg );
  height: auto;
} */

/* -----------------------------------------------------------------------------
 *
 * Cloud
 *
 * ----------------------------------------------------------------------------- */
.weather__icon-path--cloud {

}

.weather__icon-path--cloud-group {

}

.weather__icon-path--cloud-fill {
  fill: var( --color-black );
}

.weather__icon-path--cloud-animated {
  animation: cloud 4s linear infinite;
  fill: var( --color-white );
}

/* -----------------------------------------------------------------------------
 *
 * Sun
 *
 * ----------------------------------------------------------------------------- */
.weather__icon-group--sun {
  transform-box: fill-box;
  transform-origin: center;
  animation: sun 16s infinite linear;
}

/* -----------------------------------------------------------------------------
 *
 * Moon
 *
 * ----------------------------------------------------------------------------- */
.weather__icon-group--moon {
  transform-box: fill-box;
  transform-origin: center;
  animation: moon 8s infinite linear;
}

.weather__icon-path--moon-fill {
  fill: var( --color-white );

  .dark-mode & {
    fill: var( --color-white );
  }
}

.weather__icon-path--moon-stroke {
  fill: var( --color-white );
}

/* -----------------------------------------------------------------------------
 *
 * Fog
 *
 * ----------------------------------------------------------------------------- */
.weather__icon-group--fog {
  animation: fog 4s linear infinite;
}
