/* -----------------------------------------------------------------------------
 *
 * Component: PiHole
 *
 * ----------------------------------------------------------------------------- */
:root {
  --color-punch: #dd4b39;
  --color-cerulean: #00c0ef;
  --color-green-haze: #00a65a;
  --color-buttercup: #f39c12;
}

.component--pihole {

}

/* -----------------------------------------------------------------------------
 *
 * List
 *
 * ----------------------------------------------------------------------------- */
.pihole__list {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

@media (--medium) {
  .pihole__list {
    flex-flow: row wrap;
  }
}

/* -----------------------------------------------------------------------------
 *
 * Item
 *
 * ----------------------------------------------------------------------------- */
.pihole__item {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  padding: 12px;
  border-radius: 4px;
  color: var( --color-white );

  &:nth-of-type( n + 3 ) {
    margin-bottom: 0;
  }
}

.pihole__item--green {
  background-color: var( --color-green-haze );
}

.pihole__item--blue {
  background-color: var( --color-cerulean );
}

.pihole__item--yellow {
  background-color: var( --color-buttercup );
}

.pihole__item--red {
  background-color: var( --color-punch );
}

@media (--medium) {
  .pihole__item {
    width: calc( 50% - 12px );
  }
}

/* -----------------------------------------------------------------------------
 *
 * Title
 *
 * ----------------------------------------------------------------------------- */
.pihole__title {
  font-size: rem( 18px );

  & span {
    display: block;
    font-size: rem( 14px );
  }
}

/* -----------------------------------------------------------------------------
 *
 * Value
 *
 * ----------------------------------------------------------------------------- */
.pihole__value {
  font-size: rem( 32px );
  font-weight: var( --font-weight-bold );
}
