/* -----------------------------------------------------------------------------
 *
 * Component: Sports
 *
 * ----------------------------------------------------------------------------- */
.component--sports {
  padding-left: 32px;
}

/* -----------------------------------------------------------------------------
 *
 * Defaults
 *
 * ----------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------
 * Menu
 * ----------------------------------------------------------------------------- */
ul.sports__navigation {
  display: none;
  margin-bottom: 32px;
}

.sports__navigation-item {
  display: inline;
  margin-right: 16px;

  &:last-of-type {
    margin-right: 0;
  }
}

.sports__navigation-btn {
  padding: 8px 16px;
  border: 1px solid var( --color-silver-chalice );
  border-radius: 4px;
  background-color: transparent;
  color: var( --color-silver-chalice );
  font-size: rem( 18px );
  font-weight: var( --font-weight-medium );

  &:hover,
  &.--active {
    background-color: var( --color-silver-chalice );
    color: var( --color-black );
  }
}

/* -----------------------------------------------------------------------------
 * Leagues
 * ----------------------------------------------------------------------------- */
.sports__leagues {

}

/* -----------------------------------------------------------------------------
 * League
 * ----------------------------------------------------------------------------- */
.sports__league {

}

/* .sports__league:last-of-type {
  margin-bottom: 0;
} */

/* -----------------------------------------------------------------------------
  * Title
  * ----------------------------------------------------------------------------- */
.sports__league-title {
  display: block;
  position: relative;
  margin-bottom: 8px;
  border-bottom: 2px solid var( --color-silver-chalice );
  color: var( --color-black );
  font-size: rem( 20px );
  font-weight: var( --font-weight-bold );
  text-transform: uppercase;
}

.sports__league-title > span {
  position: relative;
  padding: 4px 6px;
  border-bottom: 1px solid var( --color-silver-chalice );
  background-color: var( --color-silver-chalice );
}

.sports__league-title > span::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border-right: 20px solid transparent;
  border-bottom: 24px solid var( --color-silver-chalice );
}

.sports__league-title > span::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var( --color-silver-chalice );
}

@media (--large) {
  .sports__league-title > span::before {
    border-bottom: 32px solid var( --color-silver-chalice );
  }
}

/* -----------------------------------------------------------------------------
 * Game
 * ----------------------------------------------------------------------------- */
.sports__game {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  border-radius: 4px;
}

.sports__game--empty {
  padding-bottom: 4px;
  font-size: rem( 20px );
}

.sports__league .sports__game:nth-child( odd ) {
  background-color: rgba( 255, 255, 255, 0.1 );
}

@media (--xlarge) {
  .sports__game {
    padding: 24px 8px;
  }
}

/* -----------------------------------------------------------------------------
 * Team Info
 * ----------------------------------------------------------------------------- */
.sports__game-team-info {
  text-align: center;
}

/* -----------------------------------------------------------------------------
 * Team
 * ----------------------------------------------------------------------------- */
.sports__game-team {
  display: flex;
  flex: 1;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.sports__game-team-image {
  display: block;
  width: 48px;
}

.sports__game-team-score {
  color: var( --color-white );
  font-size: rem( 56px );
  font-weight: var( --font-weight-bold );
}

@media (--large) {
  .sports__game-team-image {
    display: block;
  }
}

@media (--xlarge) {
  .sports__game-team-image {
    width: 100%;
  }
}


/* -----------------------------------------------------------------------------
 * Visiting
 * ----------------------------------------------------------------------------- */
.sports__game-team--visiting {

}

/* -----------------------------------------------------------------------------
 * Home
 * ----------------------------------------------------------------------------- */
.sports__game-team--home {

}

/* -----------------------------------------------------------------------------
 * Info
 * ----------------------------------------------------------------------------- */
.sports__game-info {
  flex: 1;
  margin-right: 16px;
  margin-left: 16px;
  color: var( --color-silver-chalice );
  font-size: rem( 20px );
  font-weight: 600;
  text-align: center;
}

.sports__game-info-type {
  margin-bottom: 8px;
  font-size: rem( 14px );
}

.sports__game-info-start_time {
  font-size: rem( 24px );
}

.sports__game-info-game_status {

}

/* -----------------------------------------------------------------------------
 * Stack
 * ----------------------------------------------------------------------------- */
.stack--sports {
  margin-bottom: 0;
}
