/* -----------------------------------------------------------------------------
 *
 * Component: Weather
 *
 * ----------------------------------------------------------------------------- */

.component--weather {

}

/* -----------------------------------------------------------------------------
 *
 * Current
 *
 * ----------------------------------------------------------------------------- */
.weather__current {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.weather__current-main {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.weather__current-icon {
  font-size: 14px;
}

.weather__current-temperature {
  margin-left: 32px;
  font-size: rem( 72px );
  font-weight: var( --font-weight-thin );
}

.weather__current-feels-like {
  font-size: rem( 36px );
}

.weather__current-description {
  text-transform: capitalize;
}

/* -----------------------------------------------------------------------------
 *
 * Forecast
 *
 * ----------------------------------------------------------------------------- */
.weather__forecast {

}

.weather__forecast-list {

}

.weather__forecast-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 16px;
  border-radius: 4px;
}

.weather__forecast-item:nth-of-type( odd ) {
  background-color: rgba( 255, 255, 255, 0.1 );
}

.weather__forecast-day {
  width: 40%;
  font-size: rem( 20px );
  font-weight: var( --font-weight-thin );
}

.weather__forecast-day::before {
  content: attr( data-day-long );
  font-size: rem( 28px );
  text-transform: uppercase;
}

@media (--large) {
  .weather__forecast-day::before {
    content: attr( data-day-long );
    text-transform: none;
  }
}

.weather__forecast-icon {
}

.weather__forecast-temperature {
  font-size: rem( 24px );
  font-weight: var( --font-weight-thin );
  text-align: right;
}

.weather__forecast-temperature--high::after,
.weather__forecast-temperature--low::after {
  margin-left: 5px;
  font-weight: var( --font-weight-bold );
}

.weather__forecast-temperature--high {

}

.weather__forecast-temperature--high::after {
  content: 'H';
  color: var( --color-punch );
}

.weather__forecast-temperature--low {

}

.weather__forecast-temperature--low::after {
  content: 'L';
  color: var( --color-cerulean );
}
